# =============================
# Python
# =============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
.env/
*.log

# =============================
# Models (keep only final .pkl)
# =============================
*.h5
*.pt
*.pth
checkpoints/

# =============================
# Dataset (DO NOT PUSH DATA)
# =============================
*.csv
data/
dataset/

# =============================
# Jupyter
# =============================
.ipynb_checkpoints/

# =============================
# Frontend
# =============================
frontend/node_modules/
frontend/dist/

# =============================
# OS files
# =============================
.DS_Store
Thumbs.db
